body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    background-color: black;
    color: pink;
    border: none;
    padding: 9px 10px;
    border-radius: 50px;
    cursor: pointer;
}

section {
    flex:1;
}

footer {
    align-self: flex-end;
}
button:hover {
    background-color: #B00B69;
}